<div class="full-screen">
    <div class='not-found'>
        <div class="ufo-img">
            <img src="/img/error-image.png">
        </div>

        <div class="error-message">
            <span class="error-num">500</span>
            <p>Go Back to <a href="/">HOME</a></p>
        </div>

    </div>
</div>